body {
  background: #B1B3B3FF;
  overflow: auto;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
#topnavbar {
  height: 7vmin;
  background-color: #E3CD81FF;
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar_option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vmin;
  margin: 0 1%;
  color: white;
  cursor: pointer;
}
#container {
  width: 70vw;
  height: 50vh;
  grid-column: 1/3;
  /* grid-column-start:1 ; */
  margin: 0;
}
.rect {
  fill: #e4c765;
}
svg {
  height: auto;
  width: auto;
}
g text {
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  fill: rgb(107, 107, 107);
}
#content {
  margin-left: 5vh;
  margin-top: 5vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
#code_trace_panel {
  width: 25.8vw;
  height: 75vh;
  background-color: #6E6E6DFF;
  border-radius: 2%;
  /* float: right; */
  grid-column-start: 5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  padding: 0.5vmin;
  justify-content: space-evenly;
}
.psuedocode {
  padding: 5%;
  font-size: 2vmin;
  color: white;
  font-family: monospace;
  border-radius: 2vmin;
}


#createbutton
{
  padding:0.3vw 1vw;
  border:none;
  border-radius: 0.2vw;
  margin: 0.5vw;
  color: rgb(228, 227, 227);
  background-color: rgb(39, 194, 178);
}
#play_button
{
  width:5vw;
  padding: 0.3vw;
  margin-left:20%;
  color: rgb(228, 227, 227);
  border-radius: 0.2vw;
  border:none;
  background-color: rgb(39, 194, 178);
}
#input_arr
{
  border:none;
  border-radius: 0.2vw;
  padding: 0.3vw;
  margin-left: 0.5vw;
  background-color: rgb(145, 207, 207);
}
#input_arr:focus
{
  outline: none;
  color: white;
}
